@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

nav {  
		margin:auto;
		text-align:center;
		word-spacing:20px;
		background-color:#E8C66A;
		padding:20px
		border: 10px black solid;
		}

nav a {text-decoration: none;
	text-transform: uppercase;
	display:inline-block;
	}

a:hover{background-color:#ffd1c3;}

body {text-align: center;
		background: rgb(3,127,122);}

h1 {color: rgb(255,88,72);
	font-size: 30px;
	font-weight: italic;
	padding: 30px;}

h2 {color: rgb(255,88,72);
	font-size: 40px;
	font-family: 'permanent marker', cursive;}

	

#about,p{font-family:'nova mona', monospace;}

.slogan{font-size: 20px;
		text-transform: uppercase;

		font-style: italic;
		font-family: arial, sans-serif;}



.clearfix:after {visibility: hidden;
					display:block;
					content:" ";
					font-size:0;
					height:0;
					clear:both;}

.sneakers{width:500px;
			margin:40px;
			background-color:orange;
			float:left;}

.clothes{
	width:500px;
	margin:40px;
	background-color:orange;
	float:left;}


.information{text-decoration: underline;
				word-spacing:10px;
				border-bottom:2px
				padding: 0,5px;
				background-color:#E8C66A;}

.offer{background-color:#FFC675;
		padding: 20px;
		border:1px black solid;
		
		display: inline-block;}

.offer p{border-bottom:4px solid black;}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

/*#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float:left;
    width:30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float:right;
    width:62%;
}*/

section{background-color:#FFE2B8;
		padding:20px;
		border: 1px black solid;
		}




		




img{ width: 20%; 
	padding: 20px;}

header{ 
			background-color: #FFED74;
			padding: 20px;								
			border: 1px black solid;
			text-decoration: underline;}							

ul, li{list-style-type: none;
		color: #FF8D00 ;}				

				

footer{background-color: #FF957E;
		padding: 20px;
		border: 1px black solid;
	}

.footer{color: rgb(25,34,255)
		}