body {text-align: center;
		background: rgb(3,127,122);}

h1 {color: rgb(25,34,255);
	background-color: black;
	font-size: 30px;
<<<<<<< HEAD
	
=======
	font-weight: italic;
>>>>>>> 18f1ef4ca2a7e444049acbc62579b83e3d86e051
	}

	

.slogan{font-size: 20px;
		text-transform: uppercase;
<<<<<<< HEAD
		font-style: italic;}
=======
		font-family: italic;}
>>>>>>> 18f1ef4ca2a7e444049acbc62579b83e3d86e051

a {text-decoration: none;}

img{ width: 20%; }

header{ 
			background-color: rgb(255,143,42);
			padding: 400;								
			text-decoration: underline;}							

ul, li{list-style-type: none;
		color: #FF8D00 ;}				

hr{ font-color: black; }					

footer{background-color: rgb(255,255,255);}

.footer{color: rgb(25,34,255)}